@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .button_cls{
        @apply md:px-12 md:py-2.5 px-6 py-1.5 text-white font-semibold text-sm md:text-lg
            transition-all duration-200 rounded-lg
    }
}

/* Hide the scrollbar */
.tabs-navigation {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
  }
  
  .tabs-navigation::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
  
  /* Ensure tab content scrolls independently */
  @media (max-width: 768px) {
    .tab-content {
      overflow-y: auto;
    }
  
    .scroll-section {
      scroll-margin-top: 6rem;
    }
  }
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  